# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/cache

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env*.local
.env
.env.*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# turbo
.turbo/

# apps
apps/*/node_modules
apps/*/.next
apps/*/dist
apps/*/.turbo

# packages
packages/*/dist
packages/*/node_modules
packages/database/generated

# docker
docker/data/

# playwright
e2e/.auth/
playwright-report/
test-results/
